.dino {
    height: 60px;
    width: 60px;
    background-color: green;
    position: absolute;
    bottom: 0;
}

.cactus {
    position: absolute;
    height: 60px;
    width: 60px;
    bottom: 0;
    background-color: red;
}